.wrapper {
  background-color: aquamarine;
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper header,
.wrapper footer {
  flex-shrink: 0;
}

.wrapper main {
  flex-grow: 1;
}
