.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid var(--line-color);
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
